body {
    background-color: #05161a;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    
}

.backgroundContainer{
    margin-top: 12px;
    background-color: #072E33;
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.decisionResultContainer{
    width: 500px;
    height: 120pxpx;
    margin-top: 50px;
}

button{
    background-color: #0c7075;
    color: white;
    width: 140px;
    height: 60px;
    border-radius: 12px;
    border-color: transparent;
    font-size: 24px;
}

button:hover{
    background-color: #0f969c;
}

#buttoncontainer{
    display: flex;
    justify-content: space-between;
}

.centerMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.result {
    height: 30px;
}

.scoreContainer{
    display: flex;
    gap: 70px;
    margin-bottom: 40px;
}

